<meta charset="utf-8">

<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>权限</span>
    </dt>
    <dd class="menu_item" ng-class="{true:'selected',false:''}[role]" ng-repeat="data in dataList">
        <a ng-href="role.html" ng-class="{true:'selected',false:''}[role]" ng-bind="data.name"></a>
    </dd>
</dl>

<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>权限</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">群发功能</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">宣传功能</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>功能</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">群发功能</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">宣传功能</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-inbox"></span>
        <span>管理</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">消息管理</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">用户管理</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">素材管理</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-volume-up"></span>
        <span>推广</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">广告主</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>统计</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">用户分析</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">菜单分析</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">消息分析</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">开锁分析</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>设置</span>
    </dt>
    <dd class="menu_item">
        <a href="user.html">帐号设置</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">微信认证</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">安全中心</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">违规记录</a>
    </dd>
</dl>