<meta charset="utf-8">

<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>权限</span>
    </dt>
    <dd class="menu_item" ng-class="{true:'selected',false:''}[role]" ng-repeat="data in dataList">
        <a ng-href="./role.html" ng-class="{true:'selected',false:''}[role]" ng-bind="data.name"></a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>用户显示</span>
    </dt>
    <dd class="menu_item" ng-class="{true:'selected',false:''}[userShow]">
        <a href="./userShow.html" ng-class="{true:'selected',false:''}[userShow]">用户显示</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>个人信息管理</span>
    </dt>
    <dd class="menu_item" ng-class="{true:'selected',false:''}[userInfo]">
        <a href="./userInfo.html" ng-class="{true:'selected',false:''}[userInfo]">修改个人信息</a>
    </dd>
    <dd class="menu_item" ng-class="{true:'selected',false:''}[password]">
        <a href="./password.html" ng-class="{true:'selected',false:''}[password]">修改密码</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>车辆模块</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">车辆管理</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">车辆查看</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">维修人员设定</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>消息模块</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">消息展示</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">消息管理</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-inbox"></span>
        <span>管理</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">消息管理</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">用户管理</a>
    </dd>
    <dd class="menu_item">
        <a href="javascript:">素材管理</a>
    </dd>
</dl>
<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-volume-up"></span>
        <span>推广</span>
    </dt>
    <dd class="menu_item">
        <a href="javascript:">广告主</a>
    </dd>
</dl>

<dl class="menu">
    <dt class="menu_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>日志模块</span>
    </dt>
    <dd class="menu_item">
        <a href="user.html">日志查看</a>
    </dd>
</dl>