@charset "UTF-8";
/* line 1, ../sass/_reset.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 6, ../sass/_reset.scss */
body {
  font-family: '榛戜綋',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #222;
}

/* line 12, ../sass/_reset.scss */
li {
  list-style: none;
}

/* line 16, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 20, ../sass/_reset.scss */
input, button, select, textarea {
  outline: none;
}

/* line 21, ../sass/_reset.scss */
textarea {
  font-size: 13px;
  resize: none;
}

/* line 22, ../sass/_reset.scss */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* line 29, ../sass/_reset.scss */
.pull-right {
  float: right !important;
}

/* line 33, ../sass/_reset.scss */
.pull-left {
  float: left !important;
}

/* line 4, ../sass/_public.scss */
.header {
  width: 100%;
  height: 100px;
  background: #fff;
}
/* line 9, ../sass/_public.scss */
.header .logo {
  height: 50px;
  float: left;
  margin: 25px 0 0 0;
  overflow: hidden;
  display: block;
}
/* line 16, ../sass/_public.scss */
.header .logo > img {
  height: 100%;
}
/* line 21, ../sass/_public.scss */
.header .text {
  float: left;
  line-height: 100px;
  margin: 0 0 0 50px;
  font-size: 30px;
  text-align: center;
}
/* line 29, ../sass/_public.scss */
.header .people {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  margin: 26px 10px 0 0;
  display: block;
}
/* line 38, ../sass/_public.scss */
.header .people > img {
  width: 100%;
  height: 100%;
}
/* line 44, ../sass/_public.scss */
.header .name {
  line-height: 100px;
  font-size: 16px;
  color: #222;
  margin: 0 20px 0 0;
  display: block;
  float: left;
}
/* line 53, ../sass/_public.scss */
.header .logout {
  line-height: 100px;
  font-size: 16px;
  color: #222;
}
/* line 58, ../sass/_public.scss */
.header .logout:hover {
  color: #459ae9;
}

/* line 64, ../sass/_public.scss */
.main {
  width: 100%;
  background: #e7e8eb;
  padding: 50px 0;
  margin: 0;
}
/* line 70, ../sass/_public.scss */
.main > .container {
  box-shadow: 0 0 10px #b7b7b7;
  padding: 0;
}
/* line 75, ../sass/_public.scss */
.main .menu_box {
  width: 199px;
  float: left;
  overflow: hidden;
  background: #fff;
  border-right: 1px solid #e7e7eb;
}
/* line 82, ../sass/_public.scss */
.main .menu_box .menu {
  overflow: hidden;
  margin: 20px 0 0 0;
  padding: 0 0 20px 0;
}
/* line 87, ../sass/_public.scss */
.main .menu_box .menu:not(:last-child) {
  border-bottom: 1px solid #e7e7eb;
}
/* line 91, ../sass/_public.scss */
.main .menu_box .menu .menu_title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 20px;
  color: #8d8d8d;
}
/* line 99, ../sass/_public.scss */
.main .menu_box .menu .menu_item {
  line-height: 34px;
  text-indent: 55px;
  font-size: 14px;
}
/* line 104, ../sass/_public.scss */
.main .menu_box .menu .menu_item:hover {
  background: #e7e8eb;
}
/* line 108, ../sass/_public.scss */
.main .menu_box .menu .menu_item.selected {
  background: #109ba3;
}
/* line 112, ../sass/_public.scss */
.main .menu_box .menu .menu_item a {
  color: #222;
}
/* line 115, ../sass/_public.scss */
.main .menu_box .menu .menu_item a.selected {
  color: #fff;
}

/* line 126, ../sass/_public.scss */
.footer {
  width: 100%;
  height: 80px;
  background: #b7b7b7;
  overflow: hidden;
}
/* line 132, ../sass/_public.scss */
.footer p {
  width: 100%;
  line-height: 80px;
  color: #000000;
  font-size: 18px;
  text-align: center;
  font-family: 'Arial';
}

/* line 5, ../sass/user.scss */
.section-box {
  width: 970px;
  float: right;
  overflow: hidden;
  background: #fff;
  padding: 20px;
}
/* line 12, ../sass/user.scss */
.section-box .mp_news__box {
  overflow: hidden;
  border: 1px solid #e7e7eb;
}
/* line 16, ../sass/user.scss */
.section-box .mp_news__box .title_bar {
  font-weight: 400;
  line-height: 40px;
  background: #f4f5f9;
  padding: 0 20px;
  color: #222;
  font-size: 14px;
  font-weight: normal;
}
/* line 25, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list {
  width: 100%;
}
/* line 28, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li {
  height: 100px;
  border-bottom: 1px solid #e7e7eb;
}
/* line 32, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li h4 {
  float: left;
  width: 100px;
  margin: 0 20px;
  font-weight: 400;
  color: #8d8d8d;
  height: 100px;
  line-height: 100px;
}
/* line 42, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li .meta_content {
  float: left;
  height: 80px;
  margin: 10px 0 0 20px;
}
/* line 47, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li .meta_content.hide {
  display: none;
}
/* line 51, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li .meta_content > input {
  color: #222;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  color: #222;
  font-size: 14px;
  margin: 25px 10px;
}
/* line 61, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li .meta_content > img {
  width: 80px;
  height: 100%;
}
/* line 67, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li .change {
  float: right;
  width: 120px;
  height: 30px;
  margin: 35px 20px;
  display: none;
}
/* line 74, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li .change > input {
  background: #109ba3;
  border: 0 none;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
/* line 84, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li .meta_opr {
  float: right;
  height: 100px;
  line-height: 100px;
  color: #222;
  font-size: 14px;
  margin: 0 20px;
  cursor: pointer;
}
/* line 93, ../sass/user.scss */
.section-box .mp_news__box .account_setting_list > li .meta_opr:hover {
  color: #459ae9;
}
/* line 102, ../sass/user.scss */
.section-box .page {
  text-align: center;
}
